body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(238, 165, 223);
}

h1{
    text-align: center;
    background-color: white;
    padding: 2%;
    margin-top: auto;
}

#dados{
    background-color: rgb(221, 212, 212);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0% 30%;
    border-radius: 10px;
}